*{
    font-family: Arial, Helvetica, sans-serif;
}
#head1{
    text-align: center;
    font-size: 35px;
}
.grid-container{ 
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 20px;
}
#input,
 #date {
    font-size: 15px;
    padding: 10px 5px;
}
.delete-btn{
    border: none;
    border-radius: 15px;
    padding: 15px 0px;
    background-color: maroon;
    cursor: pointer;
}
#input-btn{
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 15px 0px;
    background-color: green;
}